body {
  font-family: 'Poppins', sans-serif;
  color: rgba(225, 225, 225, 0.6);
}
body {
  background-color: #211328;
}
body.login-body {
  background-color: #211328;
}
img {
  max-width: 100%;
  height: auto;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
.top-nav {
  margin-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 0;
}
.top-nav a {
  color: #fff;
}
.nav-link {
  font-weight: 500;
}
.navbar-nav {
  margin-right: 20px;
}
.dropdown-menu {
  background: #3b3255;
}
.dropdown-menu .dropdown-item {
  padding: 15px 25px;
}
ul.user-links {
  background: #3b3255;
  z-index: 20;
}
ul.user-links li {
  color: unset;
}
.search-bar {
  max-width: 200px;
  margin-left: auto;
  position: relative;
}
.search-bar input.search {
  text-indent: 28px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 25px!important;
  border: none;
  height: 50px;
  margin-bottom: 0;
}
.search-bar .bi-search {
  position: absolute;
  color: #fff;
  top: 14px;
  left: 15px;
}
.search-bar .form-control::placeholder {
  color: #fff;
  opacity: 0.5;
}
.category-description {
  padding: 20px;
  margin: 20px 0;
  background: rgba(255, 255, 255, 0.1);
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: #5bc0de;
  margin-bottom: 40px;
}
.pagination-wrapper {
  margin-top: 20px;
}
.pagination .page-link {
  background: #7f598e;
  color: #fff;
  border: 0;
  padding: 10px 18px;
}
.page-link:hover {
  background: #574260;
}
.pagination .disabled .page-link {
  background: #503759;
}
.single-title, .page-title {
  font-size: calc(1.3rem + .6vw);
  color: #fff;
}
.item-title {
  color: #fff;
  margin-bottom: 30px;
}
.section-title {
  margin-bottom: 30px;
  color: #fff;
  font-weight: bold;
}
.grid-container {
  margin-top: 15px;
  margin-bottom: 15px;
}
.img-rounded {
  border-radius: 20%;
}
.small-thumb {
  width: 100%;
}
.list-info {
  color: rgba(255, 255, 255, 0.5);
}
.list-title {
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.list-category {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.game-tag-list {
  display: flex;
  flex-wrap: wrap;
}
.tag-item {
  padding: 4px 14px;
  background: rgba(255, 255, 255, 0.1);
  margin-right: 8px;
  margin-top: 8px;
  border-radius: 8px;
  color: #fff;
}
.game-item {
  display: flex;
  flex-wrap: wrap;
}
.grid-2 .game-item:hover, .grid-3 .game-item:hover, .list-vertical:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}
.list-game {
  width: 100%;
}
.list-game-x:hover {
  padding: 10px;
  background-color: #eef0f2;
  border-radius: 10px;
  scale: 1.2;
}
.list-rating {
  font-size: 14px;
}
.gamelist-vertical-widget .list-thumbnail {
  max-width: 80px;
  float: left;
  margin-right: 15px;
}
.grid-1 .list-game {
  margin-bottom: 40px;
}
.grid-1 .list-info {
    overflow: hidden;
    margin: 0.35714em;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    position: relative;
    bottom: 65px;
    margin-bottom: -53px;
    opacity: 0;
    font-weight: 700;
    font-size: 18px;
}
.grid-2 {
  margin-bottom: 20px;
}
.grid-2 .list-thumbnail {
  max-width: 100px;
  float: left;
  margin-right: 15px;
}
.grid-2 .list-title {
  font-size: 20px;
  font-weight: 500;
}
.grid-3 .list-game {
  background:  rgba(225, 225, 225, 0.15);
  border-radius: 15px;
}
.grid-3 .list-thumbnail {
  overflow: hidden;
  margin: 0;
}
.grid-3 .list-title {
  font-size: 18px;
  font-weight: 500;
}
.grid-3 .list-category, .gamelist-vertical-widget .list-category {
  font-style: italic;
  opacity: 0.7;
}
.grid-3 .list-game {
  overflow: hidden;
}
.grid-3 .list-info {
  padding: 10px;
}
.grid-3 {
  margin-bottom: 20px;
}
@media(hover: hover) and (pointer: fine) {
  .grid-1 .list-game:hover > .list-info {
    opacity: 1;
    transition: all 0.5s ease;
  }
  .list-thumbnail:hover {
    opacity: 0.5;
    transition: all 0.5s ease;
  }
}
.list-1 .list-thumbnail {
  max-width: 90px;
  margin-right: 15px;
}
.list-1 .list-thumbnail img {
  border-radius: 50%;
}
.row-list-1 {
  position: relative;
}
.list-1-wrapper {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 70px;
}
.list-1-wrapper .game-item {
  display: inline-block;
  text-align: center;
}
.footer {
  padding: 40px 0;
}
.border-line {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.dsb-panel {
  float: right;
}
.footer-copyright {
  background: rgba(0, 0, 0, 0.4);
}
.header-area {
  margin-bottom: 40px;
  border-radius: 20px;
  padding: 40px;
  text-align: center;
}
.masthead-title {
  color: #fff;
}
.masthead-description {
  max-width: 800px;
  margin: 0 auto;
}
.masthead-description h3 {
  font-size: 20px;
}
ul.list-categories {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
ul.list-categories li {
  padding: 10px 15px;
  background-color: #c9d2d5;
  border-radius: 15px;
  margin-right: 12px;
  margin-bottom: 16px;
  color: #fff;
}
.widget .category-wrapper {
  float: none;
  margin-right: 0;
}
.widget ul.category-item {
  width: 100%;
  list-style: none;
  padding-left: 0;
}
.category-item li {
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
}
.category-item li:hover {
  background: rgba(255, 255, 255, 0.15);
}
ul.category-list-wrapper {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
ul.category-list-wrapper .cat-item {
  padding: 5px 10px;
  border-radius: 15px;
  margin-right: 20px;
  margin-bottom: 16px;
  width: 155px;
  color: #4f5053;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
ul.category-list-wrapper .cat-item:hover {
  background: rgba(255, 255, 255, 0.1);
}
.cat-name {
  color: #fff;
  font-weight: bold;
}
.cat-game-amount {
  color: rgba(255, 255, 255, 0.3);
  font-weight: normal;
}
.icon-category {
  margin-right: 8px;
}
.category-list-global .icon-category {
  float: left;
}
ul.category-list-game .icon-category {
  float: none;
}
ul.category-list-game {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}
ul.category-list-game .cat-item {
  padding: 5px 10px;
  border-radius: 15px;
  margin-right: 20px;
  margin-bottom: 16px;
  color: #4f5053;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
ul.category-list-game .cat-item:hover {
  background: rgba(255, 255, 255, 0.1);
}
.cat-info {
  margin-top: 5px;
  color: #fff;
  font-weight: bold;
}
.game-info {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 18px 18px 18px;
  display: flex;
  flex-wrap: wrap;
}
.header-left {
  margin: 10px 0;
}
.header-right {
  margin-left: auto;
  text-align: right;
}
.header-right .btn, .header-right .social-icon {
  margin-top: 10px;
}
.game-iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 700px;
}
.game-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.widget-title {
  margin-bottom: 20px;
  color: #fff;
}
.btn-default {
  border: 1px solid #bdc0c1;
  background-color: #fff;
}
.b-left {
  position: absolute;
  top: 20px;
}
.b-right {
  position: absolute;
  top: 20px;
  right: 10px;
}
.btn-primary {
  background-color: #01b6ff;
  border-color: #13a5df;
}
@media only screen and (max-width: 992px) {
  body {
    background-size: contain;
  }
  .search-bar {
    max-width: 100%;
  }
  .nav-item  {
    padding: 10px;
  }
}
@media only screen and (max-width: 640px) {
  .top-user {
      width: 80px;
      margin: 10px;
  }
  .leaderboard-cell.user-xp {
    margin-top: 12px;
    position: absolute;
    right: 20px;
  }
  .leaderboard-cell.rank {
    display: none;
  }
  .post-media .post-thumb {
    float: none;
    overflow: unset;
    margin-left: 0;
    margin-bottom: 20px;
    width: unset;
  }
  .post-media .post-thumb img {
    width: 100%;
    height: auto;
  }
}
  
.dropdown-icon {
  display: inline-block;
  margin-left: .455em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}
.btn-load-more {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 14px 50px;
  border-radius: 40px;
}
.b-load-more {
  margin-bottom: 40px;
}
.btn-load-more:hover {
  background: rgba(255, 255, 255, 0.05);
}
.header-right .btn-capsule, .header-right .btn-share {
  margin-left: 10px;
}
.btn-circle {
  background: rgba(255, 255, 255, 0.4);
  padding: 10px 15px;
  color: #fff;
  border-radius: 40px;
}
.btn-capsule {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  color: #fff;
  border-radius: 40px;
}
.btn-capsule:hover, .btn-capsule.active, .btn-circle:hover {
  background: rgba(255, 255, 255, 0.5);
}
.b-white {
  background: #fff;
  color: #000000;
  font-size: 18px;
}
.b-login {
  margin-left: 10px;
}
.star-on {
  color: #FFA73F;
  margin-right: 4px;
}
.star-off {
  color: #5C5B5F;
  margin-right: 4px;
}
.b-icon {
  margin-right: 8px;
}
.content-wrapper {
  margin-top: 40px;
}
.highlight-text {
  color: #fff;
}
.list-vertical {
  margin-bottom: 20px;
}

/* COMMENTS */

.jquery-comments .textarea-wrapper .textarea {
  background: rgba(255, 255, 255, 0.1);
  border: 0;
  border-radius: 8px;
}
.comments-container {
  border: 0;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 30px;
}
.jquery-comments ul.navigation {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.jquery-comments ul.navigation li.active, .jquery-comments ul.navigation li:hover {
  color: unset;
}
.jquery-comments .textarea-wrapper::before, .jquery-comments .textarea-wrapper::after {
  display: none;
}
.jquery-comments .textarea-wrapper .control-row > span {
  padding: 10px 20px;
  border-radius: 8px;
}

/* END COMMENTS */

/* BLOG / POST */

.post-title {
  font-size: 25px;
}
.post-thumb {
  float: right;
  width: 200px;
  overflow: hidden;
  margin-left: 20px;
}
.post-thumb img {
  height: 180px;
  max-width: unset;
}
.post-item {
  display: flex;
}
.post-media {
  width: 100%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin-bottom: 25px;
}
.post-title a {
  color: #fff;
}
.post-meta {
  font-style: italic;
  margin-bottom: 5px;
}
.page-content {
  margin-top: 40px;
}
/* END BLOG / POST */

/* USER PROFILE */

.user-page {
  background: unset;
}
.user-page .section {
  background-color: rgba(255, 255, 255, 0.1);
}
.profile-comment-item {
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: unset;
}
.user-page .comment-text {
  color: #fff;
}
.user-page .comment-date.text-secondary {
  color: unset!important;
}
input.form-control {
  margin-bottom: 10px;
}

/* USER PROFILE */

#mobile-back-button {
    display: none;
    align-items: center;
    position: fixed;
    z-index: 101;
    top: 100px;
    left: 0;
    width: 56px;
    height: 46px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 24%) 0px 16px 32px;
    border-radius: 0px 16px 16px 0px;
    overflow: hidden;
    cursor: pointer;
}
#mobile-back-button i {
  color: #94a2a2;
  font-size: 30px;
  margin-left: 14px;
}
.btn-left, .btn-right {
  z-index: 1;
}

/* LOGIN & REGISTER */

.login-form, .register-form {
  background: rgba(255, 255, 255, 0.1);
}

/* */

.mobile-thumb-play img {
  width: 100%;
  opacity: 0.7;
}
.mobile-thumb-play {
  background: #000000;
  overflow: hidden;
}
#mobile-play {
  position: relative;
}
#mobile-play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 100px;
  color: #fff;
  transform: translate(-50%, -50%);
}
.game-container {
  overflow: hidden;
  border-radius: 18px;
}
.color-red {
  background: rgba(238, 19, 39, 0.4);
}
.top-3 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}
.top-user {
    display: inline-block;
    text-align: center;
    margin: 15px;
    position: relative;
    white-space: nowrap;
}
.top-number {
    width: 40px;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 20%;
    transform: translate(-50%, -50%);
}
.top-avatar img {
    border-radius: 50%;
    display: block;
}
.rank-1 .top-avatar img {
    width: 120px;
}
.leaderboard-table {
    clear: both;
    display: block;
    width: 100%;
}
.leaderboard-row {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 15px;
    margin-top: 15px;
    white-space: nowrap;
}
.leaderboard-cell {
    vertical-align: middle;
    padding: 0 10px;
    display: inline-block;
}
.leaderboard-user-avatar img {
    width: 50px;
    border-radius: 50%;
    display: block;
}
.leaderboard-cell.username {
    font-weight: bold;
    min-width: 160px;
}
.leaderboard-cell.rank {
    float: right;
}
.level-badge {
    float: left;
    margin-right: 10px;
}
.top-player-wrapper {
  margin-bottom: 20px;
}
.gamelist-widget .list-game {
  margin-bottom: 20px;
}